.wrapper {
 
  padding: 1%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  width: 38rem;
  margin-left: calc(50% - 19rem);
  margin-top: 5%;
  list-style-type: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.completed {
  color: rgb(152, 152, 152);
  background-color: rgb(142, 178, 210);
  text-align: center;
  width: 50%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 15px;

  & li {
    text-decoration: line-through;
  }
}

.todos-wrapper {
  text-align: center;
  border-bottom: 1px solid gray;
}

.todo-wrapper {
  display: flex;
  padding-bottom: 1%;
  align-items: center;
  gap: 10px;

  & input {
    display: none;
    
  }

  label {
    height: 1.2rem;
    width: 1.2rem;
    
    border: 1px solid var(--blue-title);
    border-radius: 50%;
    cursor: pointer;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    
  }

  input[type="checkbox"]:checked +  label {
    background-image: url('../../../public/tick.png');
    transform:rotate(360deg);
  }



  & span {
    color: var(--blue-title);
    font-size: 1.2rem;
    text-align: left;
    flex-grow: 8;
  }

  & button {
    color: var(--blue-title);
    font-size: 1.2rem;
    flex-basis: min-content;
    text-decoration: none;
    margin-left: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;

  & button {
    color: var(--blue-title);
    font-size: 1.2rem;
    flex-grow: 3;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
  }
}