.list {
  width: 100%;
  margin-top: 5%;
  list-style-type: none;
}
.completed {
  color: rgb(152, 152, 152);
  background-color: rgb(142, 178, 210);
  text-align: center;
  width: 50%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 15px;
}
.completed li {
  text-decoration: line-through;
}
.nav {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: rgb(134, 186, 232);
  text-align: center;
  width: 50%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 1%;
}
.inline {
  display: inline-flex;
}

button {
  text-decoration: none;
  margin-left: 15px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(121, 174, 252);
}
input {
  margin-right: 15px;
}
