.input-wrapper {
  border-radius: 15px;
  display: flex;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: var(--blue);
  width: 38rem;
  margin-left: calc(50% - 19rem);
  & input {
    font-size: 2rem;

    padding: 1%;
    flex-grow: 20;
    border: none;
    outline: none;
    color:white;
    background-color: var(--blue-title);
  }
  .invalid-input {
    background-color: var(--invalid-light-red)
  
  }

  & button {
    font-size: 1.4rem;
    padding: 0.5%;
    flex-grow: 1;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: var(--light-blue);
    color: var(--blue-title)
  }
  & .invalid-button{
    background-color:var(--invalid-red) ;
  }

}


