.wrapper {
  min-height: 30vh;
  padding: 1%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  width: 40rem;
  margin-left: calc(50% - 20rem);
  margin-right: calc(50% - 2rem);
  margin-top: 5%;
  list-style-type: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.completed {
  color: rgb(152, 152, 152);
  background-color: rgb(142, 178, 210);
  text-align: center;
  width: 50%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 15px;
   & li {
    text-decoration: line-through;
  }
}

.todos-wrapper {
  text-align: center;
  border-bottom: 1px solid gray;
}

.inline {
  display: flex;
  justify-content: center;
  text-align: center;
  & button {
    text-decoration: none;
    margin-left: 15px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(121, 174, 252);
  }
}



